# Homework # 1 - Logistic Regression
Data file: breast_cancer_diagnosis.csv

### Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

### Load data

In [2]:
# Read data from file (breast_cancer_diagnosis.csv) into dataframe
! ls -l 'breast_cancer_diagnosis.csv'

-rw-r--r--@ 1 sahitikovvuri  staff  51590 Sep 23 12:14 breast_cancer_diagnosis.csv

In [3]:
! head 'breast_cancer_diagnosis.csv'

In [4]:
df = pd.read_csv('breast_cancer_diagnosis.csv')

### Examine data

In [5]:
# Review dataframe shape
df.shape

(569, 13)

In [6]:
# Display first 10 rows
df.head(10)

,id,name,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,ID842302,Glynnis Munson,NaN,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,ID842517,Lana Behrer,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,ID84300903,Devondra Vanvalkenburgh,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,ID84348301,Glory Maravalle,NaN,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,ID84358402,Mellie Mccurdy,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
5,ID843786,Merle Yelon,NaN,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613,39,1
6,ID844359,Corrianne Banzett,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742,38,1
7,ID84458202,Noni Marcellino,NaN,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451,28,1
8,ID844981,Kacy Meltzer,NaN,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389,50,1
9,ID84501001,Elka Ortolani,NaN,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243,60,1

Note: NaN in radius column

### Prepare data

### Check for missing values

In [7]:
df.isnull().sum()

id                    0
name                  0
radius               71
texture               0
perimeter             0
area                  0
smoothness            0
compactness           0
concavity             0
symmetry              0
fractal_dimension     0
age                   0
diagnosis             0
dtype: int64

### Handle missing values
Remember to use "inplace=True"

In [8]:
# Figure out strategy to replace values where radius is NaN
#df['radius'].replace(r'\N', df.isnull, inplace = True)
df.fillna(0, inplace=True)

In [9]:
# Replace values where radius is NaN based on above strategy
print(df)

             id                     name  radius  texture  perimeter    area  \
0      ID842302           Glynnis Munson    0.00    10.38     122.80  1001.0
1      ID842517              Lana Behrer   20.57    17.77     132.90  1326.0
2    ID84300903  Devondra Vanvalkenburgh   19.69    21.25     130.00  1203.0
3    ID84348301          Glory Maravalle    0.00    20.38      77.58   386.1
4    ID84358402           Mellie Mccurdy   20.29    14.34     135.10  1297.0
..          ...                      ...     ...      ...        ...     ...
564    ID926424                 Liz Babb   21.56    22.39     142.00  1479.0
565    ID926682             Silvana Shen   20.13    28.25     131.20  1261.0
566    ID926954             Sunny Hiorns   16.60    28.08     108.30   858.1
567    ID927241            Colline Beade   20.60    29.33     140.10  1265.0
568     ID92751         Rita Ryan blanco    7.76    24.54      47.92   181.0

     smoothness  compactness  concavity  symmetry  fractal_dimension  age  \
0       0.11840      0.27760    0.30010    0.2419            0.07871   35
1       0.08474      0.07864    0.08690    0.1812            0.05667   27
2       0.10960      0.15990    0.19740    0.2069            0.05999   31
3       0.14250      0.28390    0.24140    0.2597            0.09744   49
4       0.10030      0.13280    0.19800    0.1809            0.05883   20
..          ...          ...        ...       ...                ...  ...
564     0.11100      0.11590    0.24390    0.1726            0.05623   18
565     0.09780      0.10340    0.14400    0.1752            0.05533   24
566     0.08455      0.10230    0.09251    0.1590            0.05648   21
567     0.11780      0.27700    0.35140    0.2397            0.07016   41
568     0.05263      0.04362    0.00000    0.1587            0.05884   37

     diagnosis
0            1
1            1
2            1
3            1
4            1
..         ...
564          1
565          1
566          1
567          1
568          0

[569 rows x 13 columns]

### Check for missing values again

In [10]:
df.isnull().sum()

id                   0
name                 0
radius               0
texture              0
perimeter            0
area                 0
smoothness           0
compactness          0
concavity            0
symmetry             0
fractal_dimension    0
age                  0
diagnosis            0
dtype: int64

### Drop non-numeric variables
Remember to use "inplace=True"

In [11]:
numeric_cols = df.select_dtypes(exclude='number')

In [12]:
df.drop(numeric_cols, axis=1, inplace=True)

In [13]:
df

,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,0.00,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,0.00,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623,18,1
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533,24,1
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648,21,1
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016,41,1
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884,37,0

### Review updated dataframe

In [14]:
# Display first 10 rows
df.head(10)

,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,0.00,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,0.00,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
5,0.00,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613,39,1
6,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742,38,1
7,0.00,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451,28,1
8,0.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389,50,1
9,0.00,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243,60,1

### Separate independent and dependent variables
* Independent variables: All remaining variables except Diagnosis
* Dependent variable: Diagnosis

In [15]:
# Prepare dataset for model training
X = df.iloc[:, :-1]   
y = df.iloc[:, -1]

### Split data into training and test sets

In [16]:
# Split data into training data and test data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Train model

In [17]:
# Train model
model = LogisticRegression()
model.fit(x_train, y_train)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

### If above results in error, review error message, look up documentation for LogisticRegression, and change model hyperparameter appropriately

In [18]:
# Train model again
model = LogisticRegression(max_iter = 200)
model.fit(x_train, y_train)

LogisticRegression(max_iter=200)

### Test model

In [19]:
# Generate predictions against the test set
predictions = model.predict(x_test)

# printing predictions
print(predictions)

[0 1 1 0 0 1 1 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1
 0 1 1 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 1 0 0 0 1 1 1 0 0 1 1 0 0 0 1 0 1
 0 0 0 0 0 0 1 0 1 1 1 1 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 0 0 1 0 0 1
 0 1 1]

### Model evaluation

In [20]:
# Print classification report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.94      0.94      0.94        71
           1       0.91      0.91      0.91        43

    accuracy                           0.93       114
   macro avg       0.93      0.93      0.93       114
weighted avg       0.93      0.93      0.93       114

In [21]:
# Print model accuracy
accuracy = model.score(x_test, y_test)
print("accuracy = ", accuracy * 100, "%")

accuracy =  92.98245614035088 %